.starter-main-body{
    margin-top: 140px;
    height:330px;
    margin-bottom: 70px;
}

.starter-resident-button {
    background-color: dodgerblue;
    height: 43px;
    width: 150px;
    font-weight: bold;
    color: white !important;
    cursor: pointer;
    margin-right: 360px;
}

.starter-ngo-button{
    background-color: dodgerblue;
    height: 43px;
    width: 150px;
    font-weight: bold;
    color: white !important;
    cursor: pointer;

}
.home-button-container {
    margin-top: 200px;
    text-align: center;
    align-items: center;
}
