.main-nav-body {
    float: left;
    width: 180px;
}

.ngo-main-body{
    margin-bottom: 80px;
}

.main-nav{
    margin-left: 15px;
}

.main-nav-btn {
    background: antiquewhite;
    border-top: 1px solid #FFFFFF;
    display: block;
    padding: 20px;
    text-align: left;
    color: #1D428A;
    text-decoration: none;
}

.main-nav-btn:hover {
    background:white;
    color: #624630;
}

.main-nav-btn.active {
    background: #F2EBD9;
    color: #624630;
}

#request-list {
    background: #F2EBD9;
    color: #624630;
    list-style: none;
    margin-left: 180px;
    min-height: 250px;
    padding: 10px;
}

#request-list .notice {
    font-size: 16px;
    padding: 60px;
    text-align: center;
}


.requests {
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    margin: 10px;
    padding: 15px;
    transition: background-color 100ms linear;
}

.requests:last-child {
    border: none;
}

.requests:hover {
    background: rgba(255, 255, 255, 0.8);
    transition: background-color 100ms linear;
}

.requests>div:first-of-type {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.request-name{
    font-weight: bold;
}

