.tail{
    margin-top: 50px;
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: -1px 0 5px 0 #1D428A;
    flex-direction: column;
    bottom: 0%;
}

.tail-line-one{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: #1D428A;
}

.tail-line-two{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: #1D428A;
}

.email{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: #1D428A;
}

.phone{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: #1D428A;
}