.dropoff-topbar-logo {
    height: 150px;
    float: left;
    padding-left: 0px;
}
.dropoff-topbar-header {
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
    box-shadow: -1px 0 5px 0 #1D428A;
    margin-bottom: 70px;
}
.dropoff-topbar-title {
    color: #1D428A;
    display: flex;
}

.dropoff-topbar-helper {
    display: flex;
    margin-top: 100px;
    color: #1D428A;
    margin-left: -150px;
}