@import 'styles/starter-page/App.css';
@import 'styles/starter-page/TopBar.css';
@import 'styles/starter-page/Main-Entry.css';
@import 'styles/starter-page/About-us-main.css';
@import 'styles/resident-page-one/ResidentApp.css';
@import 'styles/resident-page-one/zipcode.css';
@import 'styles/resident-page-one/Resident-Entry.css';
@import 'styles/Drop-off/Drop-off-App.css';
@import 'styles/Drop-off/TopBar.css';
@import 'styles/Drop-off/Body.css';
@import 'styles/Drop-off/tail.css';
@import 'styles/NGO-Login/NGO-Login-App.css';
@import 'styles/Pick-up-item-list/ItemsApp.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
